.context-menu {
    position: absolute;
    padding: 3px;
    z-index: 2;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.781);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: none;
}

.context-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    padding-left: 0;
    margin: 3px;

    color: rgb(236, 236, 236);
    cursor: pointer;
}

.context-menu-item:hover {
    background: rgba(124, 121, 121, 0.116);
}

.context-menu-item:active {
    background: rgba(124, 121, 121, 0.24);
}

.context-menu-item>* {
    margin: 0 3px;
}

